{
  "presets": ["es2015", "stage-0"],
  "plugins": [
    "transform-decorators-legacy",
    "add-module-exports"
  ],
  "env": {
    "umd": {
      "presets": [
        ["es2015", {"modules": false}],
        "stage-0"
      ],
      "plugins": ["transform-decorators-legacy"]
    }
  }
}
