{
  "presets": [["es2015", {"modules": false}], "stage-0"],
  "plugins": [
    "transform-decorators-legacy",
    "inline-package-json"
  ],
  "env": {
    "modules": {
      "presets": ["es2015", "stage-0"],
      "plugins": [
        "transform-decorators-legacy",
        "inline-package-json"
      ]
    }
  }
}
